body {
  font-family: sans-serif;
}

button {
  border: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

select {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
